{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">
        <table class="table table-striped">
            <tr>
                <td>#</td>
                <td>Nazwa Produktu:</td>
                <td>Cena:</td>
                <td>Zamówiana ilość:</td>
                <td>Zarezerwowano sztuk:</td>
                <td>Wartość:</td>
                <td>Dostępność Produktu:</td>
            </tr>
            {% for orderDetail in orderDetails %}
                <tr>
                    <td>{{ loop.index }}.</td>
                    <td><a href="{{ path('shopproductinfo', {'id': orderDetail.product.id}) }}" target="_blank">{{ orderDetail.product.name }}</a></td>
                    <td>{{ orderDetail.productPrice }} PLN</td>
                    <td>{{ orderDetail.productQuantity }}</td>
                    <td>{{ orderDetail.productReserved }}</td>
                    <td>{{ orderDetail.finalPrice }} PLN</td>
                    <td>{{ orderDetail.productStatus }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Sposób dostawy:</td>
                <td>{{ order.delivery.name }}</td>
                <td>{{ order.delivery.price }} PLN</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Razem:</td>
                <td>{{ sum }} PLN</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Status zamówienia:</td>
                <td>{{ order.status }}</td>
                <td></td>
            </tr>
        </table>
    </div>

{% endblock %}