{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">
        <table class="table table-striped">
            <tr>
                <td>#</td>
                <td>ID zamówienia</td>
                <td>Data złożenia:</td>
                <td>Status:</td>
                <td></td>
            </tr>
        {% for order in orders %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ path('orderDetails', {'orderId': order.id}) }}">{{ order.id }}</a></td>
                <td>{{ order.orderTime|date("d.m.y H:i:s") }}</td>
                <td>{{ order.status }}</td>
                <td><a href="{{ path('orderDetails', {'orderId': order.id}) }}" class="btn btn-default">Szczegóły</a> </td>
            </tr>
        {% endfor %}
        </table>
    </div>

{% endblock %}