{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">
        <table class="table table-striped">
            <tr>
                <td>#</td>
                <td>Nazwa Produktu:</td>
                <td>Cena zakupu:</td>
                <td>Dostarczona ilość:</td>
                <td>Wartość:</td>
            </tr>
            {% for supplyDetail in supplyDetails %}
                <tr>
                    <td>{{ loop.index }}.</td>
                    <td><a href="{{ path('shopproductinfo', {'id': supplyDetail.product.id}) }}" target="_blank">{{ supplyDetail.product.name }}</a></td>
                    <td>{{ supplyDetail.productPrice|number_format(2, '.', ',') }} PLN</td>
                    <td>{{ supplyDetail.productQuantity }}</td>
                    <td>{{ supplyDetail.finalPrice|number_format(2, '.', ',') }} PLN</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Razem:</td>
                <td>{{ sum }} PLN</td>
            </tr>
        </table>
    </div>

{% endblock %}