{% extends 'base.html.twig' %}


{% block body %}
    <a class="btn btn-default" href="{{ path('showproducts') }}">Powrót</a>

    <hr>

    <h2 class="page-header">{{ product.name }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Cena: {{ product.price }}</li>
        <li class="list-group-item">Opis: {{ product.description }}</li>
        <li class="list-group-item">Kategoria: {{ product.subcategory.category.name }} </li>
        <li class="list-group-item">Podkategoria: {{ product.subcategory.name }}</li>
        <li class="list-group-item">Data dodania: {{ product.addTime|date("d.m.y H:i:s") }}</li>
    </ul>
{% endblock %}